* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    font-family: Open Sans,sans-serif;
}










/* regole header */
header {
    /* debug */
    height: 550px;
    background-color: aqua;
}

nav {
    background-color: white;
    /* debug */
    height: 50px;
}

.header-container {
    width: 80%;
    margin: auto;
}

header .header-container h1 {
    /* debug */
    font-size: 50px;
    text-align: justify;
}

.header-row::after {
    content: "";
    display: table;
    clear: both;
}

.header-col-sx {
    float: left;
    width: 35%; 
}

.header-col-dx {
    float: left;
    width: 65%;
    text-align: right;
}

.header-col-dx img {
    width: 100%;
    height: auto;
}

.row-padding-top {
    padding-top: 30px;
}

.row-padding-bottom {
    padding-bottom: 30px;
}

.altezza-linea {
    line-height: 1.5;
}

.btn-blue {
    padding: 5px 15px;
    color: white;
    background-color: blue;
}

span {
    font-size: 30px;
}










/* regole main */
.container {
    width: 70%;
    margin: auto;
    /* debug */
    background-color: red;
    padding-top: 100px;
}

.container span {
    /* debug */
    font-size: 15px;
}
.main-row::after {
    content: "";
    display: table;
    clear: both;
}

.main-col {
    float: left;
    width: 30%;
}

.main-margin-col {
    margin-left: 5%;
    margin-right: 5%;
}

.contain-high-col {
    padding-top: 20px;
    text-align: center;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    /* debug */
    height: 60px;
}

.contain-col {
    padding: 20px 30px;
    border: 1px solid black;
}

.main-padding-bottom {
    padding-bottom: 10px;
}

.main-padding-bottom-second {
    padding-bottom: 40px;
}

.main-padding-top {
    padding-top: 40px;
}

.main-padding-left {
    padding-left: 40px;
}

.main-button {
    text-align: center;
}

.larghezza {
    width: 100%;
}

hr {
    width: 30%;
}





.row-enterprise::after {
    content: "";
    display: table;
    clear: both;
}

.enterprise-first-col {
    float: left;
    width: 50%;
}

.enterprise-second-col {
    float: right;
}





.row-single-image::after {
    content: "";
    display: table;
    clear: both;
}

.single-image {
    float: left;
    width: 50%;
}

.single-image img {
    width: 100%;
    height: auto;
}

.btn-white {
    padding: 5px 15px;
}





.row-three-image::after {
    content: "";
    display: table;
    clear: both;
}

.row-three-image .main-col img {
    width: 100%;
    height: auto;
}


.container2 {
    width: 50%;
}





.row-loghi::after {
    content: "";
    display: table;
    clear: both;
}

.row-loghi .square {
    float: left;
    width: 15%;
    text-align: center;
}

.row-loghi .rectangle {
    float: left;
    width: 40%;
}

.high-element, .low-element {
    height: 200px;
}

.color-red {
    background-color: red;
}

.color-green {
    background-color: green;
}

.color-pink {
    background-color: pink;
}

.color-blue {
    background-color: blue;
}

.row-loghi img {
    width: 50%;
    height: auto;
}


.azzurro {
    /* debug */
    background-color: aqua;
}

.azzurro h2 {
    font-size: 30px;
}





.questions::after {
    content: "";
    display: table;
    clear: both;
}

.first-question {
    float: left;
    width: 70%;
}

.arrow {
    float: right;
}




footer {
    height: 300px;
    background-color: yellow;
}

footer hr {
    color: grey;
    width: 20%;
}

.footer-col {
    float: left;
    width: 20%;
    padding-bottom: 50px;
}