/* regole generali */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    font-family: 'Open Sans', sans-serif;
}



/* contenitori */
.container-one {
    width: 80%;
    margin: auto;
}

.container-two {
    width: 70%;
    margin: auto;
}

.container-three {
    width: 50%;
}

.container-small {
    text-align: center;
    border-bottom: 1px solid rgb(200, 193, 193);
    padding: 20px 0px;
}



/* padding, margin , width, height, border, line-height,*/
.p-t1 {
    padding-top: 10px;
}

.p-t3 {
    padding-top: 30px;
}

.p-t4 {
    padding-top: 40px;
}

.p-t8 {
    padding-top: 80px;
}

.p-t10 {
    padding-top: 100px;
}

.p-t15 {
    padding-top: 150px;
}

.p-b1 {
    padding-bottom: 10px;
}

.p-b2 {
    padding-bottom: 20px;
}

.p-b3 {
    padding-bottom: 30px;
}

.p-b4 {
    padding-bottom: 40px;
}

.p-b8 {
    padding-bottom: 80px;
}

.p-b10 {
    padding-bottom: 100px;
}

.p-l4 {
    padding-left: 40px;
}

.p-r4 {
    padding-right: 40px;
}

.contain-col {
    padding: 20px 30px;
}

.margin-col {
    margin-left: 5%;
    margin-right: 5%;
}

.height-col {
    height: 1200px;
}

.high-element, .low-element {
    height: 200px;
}

.width-10 {
    width: 10%;
}

.width-30 {
    width: 30%;
}

.width-max {
    width: 100%;
}

.border {
    border: 1px solid rgb(200, 193, 193);
}

.line-height {
    line-height: 2.0;
}



/* color */
.color-grey {
    color: grey;
}

.color-red {
    background-color: red;
}

.color-green {
    background-color: green;
}

.color-pink {
    background-color: pink;
}

.color-blue {
    background-color: blue;
}

.color-aqua {
    background-color: rgb(136, 210, 237);
}

.color-brown {
    color: brown;
}



/* regole float */
.row::after {
    content: "";
    display: table;
    clear: both;
}

.square {
    float: left;
    width: 15%;
    text-align: center;
}

.rectangle {
    float: left;
    width: 40%;
}

.header-row-col-sx {
    float: left;
    width: 35%; 
}

.header-row-col-dx {
    float: left;
    width: 65%;
    text-align: right;
}

.main-col {
    float: left;
    width: 30%;
}

.col {
    float: left;
    width: 50%;
}

.second-col {
    float: right;
}

.i-col {
    float: left;
    width: 7%;
}

.span-col {
    float: left;
    width: 93%;
}

.question-col {
    float: left;
    width: 70%;
}

.footer-col {
    float: left;
    width: 20%;
}











 /* header*/ 
header {
    height: 650px;
}

nav {
    background-color: white;
    height: 50px;
}

header h1 {
    font-size: 60px;
    text-align: justify;
}

header p {
    font-size: 14px;
    font-weight: bold;
}

header span {
    font-size: 70px;
    font-weight: bold;
}

/* main*/
h2 {
    font-size: 40px;
}

h3 {
    font-size: 25px;
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 15px;
}

main p {
    font-size: 15px;
}

main .contain-col p:first-of-type {
    color: grey;
}

.circle {
    display: inline-block;
    height: 15px;
    width: 15px;
    border: 2px solid blue;
    border-radius: 50%;
}

.circle-two {
    display: inline-block;
    height: 15px;
    width: 15px;
    border: 1px solid black;
    border-radius: 50%;
}

main span {
    font-size: 12px;
}

.blue-link {
    color: blue;
    font-size: 15px;
    text-decoration: underline;
}

.image img {
    width: 100%;
    height: auto;
}

.square img, .rectangle img {
    width: 50%;
    height: auto;
}

.btn-white {
    background-color: white;
    padding: 5px 15px;
    border: none;
}

.btn-white-two {
    padding: 10px 70px;
    border: none;
}

.btn-blue {
    padding: 8px 18px;
    color: white;
    background-color: blue;
    border: none;
}

.btn-blue-two {
    padding: 5px 50px;
    color: white;
    background-color: blue;
    border: none;
}


/* footer */
footer {
    color: white;;
    background-color: black;
}

footer p {
    padding-bottom: 10px;
    font-size: 12px;
}













