/* regole generali */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    font-family: 'Open Sans', sans-serif;
}

.container-one {
    width: 80%;
    margin: auto;
}

.container-two {
    width: 70%;
    margin: auto;
    background-color: red;
    padding-top: 100px;
}

.container-three {
    width: 50%;
}

.container-small {
    text-align: center;
    border-bottom: 1px solid black;
    height: 60px;
}

.row-padding-top {
    padding-top: 30px;
}

.row-padding-bottom {
    padding-bottom: 30px;
}

.contain-col {
    padding: 20px 30px;
}

.main-padding-bottom {
    padding-bottom: 10px;
}

.main-padding-bottom-second {
    padding-bottom: 40px;
}

.main-padding-top {
    padding-top: 40px;
}

.main-padding-left {
    padding-left: 40px;
}

.margin-col {
    margin-left: 5%;
    margin-right: 5%;
}

.altezza-linea {
    line-height: 1.5;
}

.height-col {
    height: 1200px;
}

.image img {
    width: 100%;
    height: auto;
}

p {
    font-size: 15px;
}

span {
    font-size: 30px;
}

.width-max {
    width: 100%;
}

.width-30 {
    width: 30%;
}

.btn-white {
    padding: 5px 15px;
}

.btn-blue {
    padding: 5px 15px;
    color: white;
    background-color: blue;
}

.color-grey {
    color: grey;
}

.color-red {
    background-color: red;
}

.color-green {
    background-color: green;
}

.color-pink {
    background-color: pink;
}

.color-blue {
    background-color: blue;
}

.color-aqua {
    background-color: aqua;
}






/* regole float */
.row::after {
    content: "";
    display: table;
    clear: both;
}

.row .square {
    float: left;
    width: 15%;
    text-align: center;
}

.row .rectangle {
    float: left;
    width: 40%;
}

.row .square img, .row .rectangle img {
    width: 50%;
    height: auto;
}

.header-row-col-sx {
    float: left;
    width: 35%; 
}

.header-row-col-dx {
    float: left;
    width: 65%;
    text-align: right;
}

.main-col {
    float: left;
    width: 30%;
    border: 1px solid black;
}

.col {
    float: left;
    width: 50%;
}

.second-col {
    float: right;
}

.first-question {
    float: left;
    width: 70%;
}

.footer-col {
    float: left;
    width: 20%;
    padding-bottom: 50px;
}











/* regole header */
header {
    height: 650px;
}

nav {
    background-color: white;
    height: 50px;
}

header h1 {
    font-size: 60px;
    text-align: justify;
}

/* regole main */
.border {
    border: 1px solid black;
}

.high-element, .low-element {
    height: 200px;
}

/* regole footer */
footer {
    background-color: yellow;
}